<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      {{>message}}
      <form action="/users/register" method="POST">
        <div class="form-group mb-3">
          <label for="username">Name<span class="text-danger">*</span></label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Enter Name"
            value="{{username}}" required>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password<span class="text-danger">*</span></label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
            value="{{password}}" required>
        </div>
        <div class="form-group mb-3">
          <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="Confirm Password" value="{{confirmPassword}}" required>
        </div>
        <button type="submit" class="btn btn-success btn-block">Register</button>
      </form>
      <p class="lead mt-4">
        Have An Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>